<div
  class="w-full h-52 bg-investec-blue absolute bottom-0 left-0 flex items-center justify-around"
>
  <div class="flex flex-col w-[20%] justify-center items-center">
    <img
      src="https://www.investecproperty.com/cdn-cgi/image/q=80,f=auto,fit=scale-down,onerror=redirect,metadata=none,w=575/etc.clientlibs/dotcom/clientlibs/dotcom/common/head/resources/images/zebras/default/default-zebra-2.png"
      alt="Investec Logo"
      class="h-28 w-28 mx-auto"
    />
    <div class="flex justify-center items-center gap-2">
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="25"
          height="25"
          viewBox="0,0,256,256"
        >
          <g
            fill="#ffffff"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
          >
            <g transform="scale(10.66667,10.66667)">
              <path
                d="M12,2c-5.523,0 -10,4.477 -10,10c0,5.013 3.693,9.153 8.505,9.876v-7.226h-2.474v-2.629h2.474v-1.749c0,-2.896 1.411,-4.167 3.818,-4.167c1.153,0 1.762,0.085 2.051,0.124v2.294h-1.642c-1.022,0 -1.379,0.969 -1.379,2.061v1.437h2.995l-0.406,2.629h-2.588v7.247c4.881,-0.661 8.646,-4.835 8.646,-9.897c0,-5.523 -4.477,-10 -10,-10z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="25"
          height="25"
          viewBox="0,0,256,256"
        >
          <g
            fill="#ffffff"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
          >
            <g transform="scale(10.66667,10.66667)">
              <path
                d="M8,3c-2.761,0 -5,2.239 -5,5v8c0,2.761 2.239,5 5,5h8c2.761,0 5,-2.239 5,-5v-8c0,-2.761 -2.239,-5 -5,-5zM18,5c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1zM12,7c2.761,0 5,2.239 5,5c0,2.761 -2.239,5 -5,5c-2.761,0 -5,-2.239 -5,-5c0,-2.761 2.239,-5 5,-5zM12,9c-1.65685,0 -3,1.34315 -3,3c0,1.65685 1.34315,3 3,3c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="25"
          height="25"
          viewBox="0,0,256,256"
        >
          <g
            fill="#ffffff"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
          >
            <g transform="scale(10.66667,10.66667)">
              <path
                d="M2.86719,3l6.86914,9.81836l-7.00195,8.18164h2.64648l5.53906,-6.49023l4.54102,6.49023h5.91016l-7.19727,-10.30273l6.57031,-7.69727h-2.60547l-5.14258,6.00977l-4.19727,-6.00977z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="text-white flex gap-20 mr-56">
    <div class="flex flex-col">
      <span class="font-bold mb-8">Legal information</span>
      <div class="flex flex-col gap-2">
        <span class="underline font-thin">Accessability</span>
        <span class="underline font-thin">Legal</span>
        <span class="underline font-thin">Know fraud</span>
      </div>
    </div>
    <div class="flex flex-col">
      <span class="font-bold mb-8">Get in touch</span>
      <div class="flex flex-col gap-2">
        <span class="underline font-thin">Contact</span>
        <span class="underline font-thin">Careers</span>
      </div>
    </div>
    <div class="flex flex-col">
      <span class="font-bold mb-8">Other information</span>
      <div class="flex flex-col gap-2">
        <span class="underline font-thin">Investec Property</span>
        <span class="underline font-thin">Developer</span>
        <span class="underline font-thin">Calarity by Investec</span>
      </div>
    </div>
  </div>
</div>
