<div  class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" checked="checked" />
  <div class="collapse-title text-xl font-medium">Income</div>
  <div class="collapse-content">
    <div class="flex flex-column justify-between">
      <p>Salary</p>
      <input placeholder="R 0.00">
    </div>
    <div class="flex flex-column justify-between">
      <p>Rent</p>
      <input placeholder="R 0.00">
    </div>
    <div class="flex flex-column justify-between">
      <p>Other</p>
      <p>R 0.00</p>
    </div>
  </div>
</div>

<div  class="collapse collapse-arrow bg-base-200">
  <input type="radio" name="my-accordion-2" checked="checked" />
  <div class="collapse-title text-xl font-medium">Expense</div>
  <div class="collapse-content">
    <div class="flex flex-column justify-between">
      <p>Household</p>
      <input placeholder="R 0.00">
    </div>
    <div class="flex flex-column justify-between">
      <p>Personal</p>
      <input placeholder="R 0.00">
    </div>
  </div>
</div>

<button class="btn btn-neutral">Neutral</button>
